
@import url('./responsive.css');


body{
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.d-flex {
  display: flex;
}

.navbar-open {
  display: block !important;
}

.logo {
  display: inline-block;
}

.header{
  width: 100%;
  /* height: 88px; */
  background-color: white;
}

.time-counter{
  /* height: 444px; */
  background-color: white;
}

.welcome-section{
  /* height: 436px; */
  background-color: white;
}

.joining-section{
  /* height: 668px; */
  background-color: #F4F5F7;
}

.roadmap-section{
  /* height: 960px; */
  background-color: white;
}

.team-section{
  /* height: 520px; */
  background-color: #F4F5F7;
}

.dark-mode .header{
  background-color: #101010;
  color: white;
}

.dark-mode .time-counter{
  background-color: #101010;
  color: white;
}

.dark-mode .welcome-section{
  background-color: #101010;
  color: white;
}

.dark-mode .joining-section{
  background-color: #171717;
  color: white;
}

.dark-mode .roadmap-section{
  background-color: #101010;
  color: white;
}

.dark-mode .team-section{
  background-color: #171717;
  color: white;
}

.logo{
  width: 167px;
  height: 56px;
}

.mint-btn{
  width: 153px;
  height: 40px;
  background-color: #8C30F5;
  color: white;
  border-radius: 6px;
}

.cover{
  /* height: 490px; */
}

.team-icon{
  width: 164px;
  height: 164px;
  border-radius: 50%;
}

.footer{
  width: 100%;
  height: 88px;
  background-color: #101010;
}

.menu {
  display: none;
}
.counter-block{
 position: relative;
 width: 162px;
 height: 162px;
 background-color: #CC6E6C;
 border-radius: 8px;
}

.counter-block:nth-child(2){
  background-color: #678A9D;
}

.counter-block:nth-child(3){
  background-color: #4B7B41;
}

.counter-block:nth-child(4){
  background-color: #674276;
}
