@media only screen and (max-width: 600px) {
  .flex {
      flex-direction: column;
  }

  .w-1\/2 {
    width: 100%;
}

.pl-16 {
    padding-left: 0rem;
}
.navbar {
    display: none;
}

.text-6xl {
    font-size: 3em;
}

.menu {
    display: inline-block !important;
}


.pl-24 {
    padding-left: 0rem;
}
/* 
img, video {
    margin-bottom: 3rem;
} */

.py-16 {
    padding-bottom: 0rem;
}
  }